.foosball{
	background-image: url(https://res.cloudinary.com/kinskin/image/upload/v1569609204/foosballtable_icqmfj);
	background-size:cover;
	background-position: center;
	height: 300px;
	width:100%;
}

.contentHeader{
	border-bottom: 2px solid black;
	p{
		font-size: 30px
	}
}

.contentBody{
	margin:20px 0;
}