.contentHeader{
	border-bottom: 2px solid black;
	margin:10px;
	p{
		font-size: 30px
	}
}
.contentBody{
	margin:20px 0;

}
.content{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	.contentBodyHeader:hover{
		cursor: pointer;
		text-decoration: underline;
	}
}